<!DOCTPYE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>Contact List App</title>
</head>
<body>
<div class="container" ng-controller="AppCtrl">
<h1>Contact list app</h1>
<table class="table">
	<thead>
		<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone-number</th>
		<th>Action</th>
		<th>&nbsp</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td><input class="form-control" ng-model="contact.name"></td>
		<td><input class="form-control" ng-model="contact.email"></td>
		<td><input class="form-control" ng-model="contact.number"></td>
		<td><button type="button" class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
		<td><button type="button" class="btn btn-info" ng-click="updateContact()">Update Contact</button></td>
	</tr>
		<tr ng-repeat="contact in contactlist">
			<td>{{contact.name}}</td>
			<td>{{contact.email}}</td>
			<td>{{contact.number}}</td>
			<td><button class="btn btn-danger" ng-click="removeContact(contact._id)">Remove</button></td>
			<td><button class="btn btn-warning" ng-click="editContact(contact._id)">Edit</button></td>

		</tr>
	</tbody>
</table>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>
